@import "tailwindcss";

.swiper-pagination-bullet {
    background-color: white !important;
    opacity: 0.6;
  }
  
  .swiper-pagination-bullet-active {
    background-color: white !important;
    opacity: 1;
  }
